@import 'https://fonts.googleapis.com/css?family=Open+Sans|Oswald';

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 96px 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header-main nav {
  /* background: #f1f1f1; */
}

.logo-container {
  display: table-cell;
  vertical-align: middle;
}

.container {
  position: relative;
}

.navigation-primary>ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-primary>ul>li {
  display: inline-block;
}

.navigation-primary>ul>li>a {
  display: block;
  color: #545454;
  padding: 12px 24px;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

.navigation-primary>ul>li:hover>.mega-menu,
.navigation-primary>ul>li:hover>.sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.navigation-primary>ul>li:hover>a {
  background: #545454;
  color: #fff;
}

.navigation-primary>ul .mega-menu,
.navigation-primary>ul .sub-menu {
  z-index: 9999;
  padding: 0;
  position: absolute;
  background: #FCFCFC;
  /* border-top: 3px solid #545454; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(20%);
}

.navigation-primary>ul .mega-menu>li a,
.navigation-primary>ul .sub-menu>li a {
  display: block;
  color: #252525;
  text-decoration: none;
  font-size: 13px;
  color: #858585;
}

.navigation-primary>ul .mega-menu>li>.sub-menu,
.navigation-primary>ul .sub-menu>li>.sub-menu {
  background: #f8f8f8;
}

.navigation-primary>ul .mega-menu {
  left: 0;
  width: calc(100% - 60px);
  padding: 15px 30px;
}

.navigation-primary>ul .mega-menu li {
  display: inline-block;
  position: relative;
}

.navigation-primary>ul .mega-menu li .badge {
  position: absolute;
  padding: 3px 5px;
  background: #e74c3c;
  font-size: 10px;
  right: -10px;
  z-index: 999;
  color: #fff;
}

.navigation-primary>ul .mega-menu li a {
  padding: 5px 20px;
  font-size: 13px;
}

.navigation-primary>ul .mega-menu li ul {
  padding: 0;
}

.navigation-primary>ul .mega-menu li ul li {
  display: block;
}

.navigation-primary>ul .mega-menu li ul li a {
  color: #858585;
  transition: all 0.5s ease-in-out;
}

.navigation-primary>ul .mega-menu li ul li:hover a {
  background: #545454;
  color: white;
}

.navigation-primary>ul .mega-menu>li {
  margin-right: 30px;
}

.navigation-primary>ul .mega-menu>li>a {
  font-weight: bold;
  text-transform: uppercase;
}

.navigation-primary>ul .sub-menu {
  min-width: 200px;
}

.navigation-primary>ul .sub-menu li {
  display: block;
  position: relative;
}

.navigation-primary>ul .sub-menu li a {
  padding: 10px 30px;
  transition: all 0.5s ease-in-out;
}

.navigation-primary>ul .sub-menu li .sub-menu {
  border-top: none;
  left: 100%;
  top: 0;
}

.navigation-primary>ul .sub-menu li:hover>.mega-menu,
.navigation-primary>ul .sub-menu li:hover>.sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.navigation-primary>ul .sub-menu li:hover>a {
  background: #545454;
  color: white;
}

.hero {
  text-align: center;
  padding: 10% 0;
}

.hero h2 {
  text-transform: uppercase;
  font-size: 72px;
  font-family: "Oswald", sans-serif;
  color: #545454;
}

.hero p {
  color: #a3a3a3;
}

.mega-menu, .sub-menu {
  box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0, 0, 0, 0.06);
}